*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.login__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login__card {
    max-width: 420px;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 20px 50px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.login__header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
}

.login__form {
    margin-bottom: 20px;
}

.login__group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.label {
    margin-bottom: 5px;
}

.login__input {
    width: 20rem;
    height: 2.2rem;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 0 10px;
    font-weight: 800;
}

.login__button {
    width: 100%;
    font-family: inherit;
    font-weight: bold;
    height: 2rem;
    border: 1px solid #e5e7eb;
    border-radius: 6px; 
    margin-top: 10px;
    background: #fafafa;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.login__button:hover {
    background: #eff0f1;
}

.divider {
    border-bottom: 1px solid #e5e7eb;
}

.guest__button {
    width: 100%;
    font-family: inherit;
    font-weight: bold;
    height: 2rem;
    border: 1px solid #e5e7eb;
    border-radius: 6px; 
    margin-top: 20px;
    background: #fafafa;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.guest__button:hover {
    background: #eff0f1;
}

.p__signup {
    font-family: inherit;
    text-align: center;
}

.signup__msg {
    opacity: 0.4;
}

.signup__link,
.signup__link:visited {
    text-decoration: none;
    color: inherit;
}

.signup__link:hover {
    text-decoration: underline;
}