{% macro add_new() %}
{% if "add" not in request.endpoint %}
    <a href="{{ url_for('tasks.add_task', date=selected_date) }}" class="header__link">+ Add new task</a>
{% endif %}
{% endmacro %}

{% macro show_dates(selected_date) %}
{% for date in date_range(selected_date) %}
<a class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else '' }}" 
    href="{{ url_for('tasks.index', date=date) }}">
    <time class="date" datetime="{{ date }}">
        <span>{{ date.strftime("%a") }}</span>
        <span>{{ date.strftime("%d") }}</span>
    </time>
</a>
{% endfor %}
{% endmacro %}


