<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>{{ title }}</title>
</head>
    <body>
        <div class="login__container">
            <div class="login__card">
                <h1 class="login__header">MyToDo</h1>
                <form class="login__form" method="POST">
                    <div class="login__group">
                        <label class="label">Email</label>
                        <input class="login__input" type="email" name="email" required>
                    </div>
                    <div class="login__group">
                        <label class="label">Password</label>
                        <input class="login__input" type="password" name="password" required>
                    </div>
                    <div class="login__group">
                        <label class="label">Confirm Password</label>
                        <input class="login__input" type="password" name="password" required>
                    </div>
                    <button type="submit" class="login__button">Submit</button> 
                </form>
            </div>
        </div>
    </body>
</html> 